@model IEnumerable<Reception>

    <style>
    .rounded-badge {
        border-radius: 1rem; 
        background-color: #B80000;
        color: white; 
        padding: 0.25rem 0.5rem; 
    }

    .primary-button {
        color: #0C7691;
        border-color: #0C7691;
    }

    .primary-button:hover {
            background-color: #0C6082;
            color: #FFFFFF;
        }
    </style>

<table id="receptionsTable" class="table table-striped table-sm">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Patient's name</th>
            <th scope="col">Date</th>
            <th scope="col">Doctor's name</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (@item.Emergency == true)
            {
                <tr style="border: 2px solid #B80000;">
                    <td>
                        <span class="rounded-badge">Urgent</span>
                    </td>
                    <td>@item.Patient.Name @item.Patient.Surname</td>
                    <td>@item.DateTime</td>
                    <td>@item.Doctor.Name @item.Doctor.Surname - @item.Doctor.Code</td>
                    <td>
                        <div class="btn-group">
                            @if (User.Identity.IsAuthenticated && User.IsInRole("admin") || User.IsInRole("nurse"))
                            {
                                <a type="btn btn-success" asp-controller="Reception" asp-action="Edit" asp-route-id="@item.Id"
                                   class="btn btn-sm btn-outline-secondary">Edit</a>
                                <button type="button" class="btn btn-sm btn-outline-secondary btn-delete" data-reception-id="@item.Id">Cancel</button>

                            }
                            @if (User.Identity.IsAuthenticated && User.IsInRole("admin") || User.IsInRole("doctor"))
                            {
                                <a type="btn btn-success" asp-controller="Report" asp-action="Create" asp-route-id="@item.Id"
                                   class="btn btn-sm btn-outline-secondary primary-button">Write report</a>
                            }
                        </div>
                    </td>
                    <td>
                        <a type="btn btn-success" asp-controller="Reception" asp-action="GeneratePDF" asp-route-id="@item.Id"
                           class="btn btn-sm btn-outline-secondary primary-button">PDF</a>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td></td>
                    <td>@item.Patient.Name @item.Patient.Surname</td>
                    <td>@item.DateTime</td>
                    <td>@item.Doctor.Name @item.Doctor.Surname - @item.Doctor.Code</td>
                    <td>
                        <div class="btn-group">
                            @if (User.Identity.IsAuthenticated && User.IsInRole("admin") || User.IsInRole("nurse"))
                            {
                                <a type="btn btn-success" asp-controller="Reception" asp-action="Edit" asp-route-id="@item.Id"
                                   class="btn btn-sm btn-outline-secondary">Edit</a>
                                <button type="button" class="btn btn-sm btn-outline-secondary btn-delete" data-reception-id="@item.Id">Cancel</button>
                            }
                            @if (User.Identity.IsAuthenticated && User.IsInRole("admin") || User.IsInRole("doctor"))
                            {
                                <a type="btn btn-success" asp-controller="Report" asp-action="Create" asp-route-id="@item.Id"
                                   class="btn btn-sm btn-outline-secondary primary-button">Write report</a>
                            }
                        </div>
                    </td>
                    <td>
                        <a type="btn btn-success" asp-controller="Reception" asp-action="GeneratePDF" asp-route-id="@item.Id"
                           class="btn btn-sm btn-outline-secondary primary-button">PDF</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>