@model IEnumerable<Reception>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/badges/">
    <link href="badges.css" rel="stylesheet">
</head>

<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabel">Delete Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to cancel this reception?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
            <div class="table-responsive small">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Patient's name</th>
                            <th scope="col">Date</th>
                            <th scope="col">Doctor's name</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            @if (@item.Emergency == true)
                            {
                                <tr style="border: 2px solid red;">
                                <td>
                                    <span class="badge bg-danger-subtle border border-danger-subtle text-danger-emphasis rounded-pill">Danger</span>
                                    </td>
                                    <td>@item.Patient.Name @item.Patient.Surname</td>
                                    <td>@item.DateTime</td>
                                    <td>@item.Doctor.Name @item.Doctor.Surname - @item.Doctor.Code</td>
                                    <td>
                                        <div class="btn-group">
                                            @if (User.Identity.IsAuthenticated && User.IsInRole("admin") || User.IsInRole("nurse"))
                                            {
                                                <a type="btn btn-success" asp-controller="Reception" asp-action="Edit" asp-route-id="@item.Id"
                                                class="btn btn-sm btn-outline-secondary">Edit</a>
                                            <button type="button" class="btn btn-sm btn-outline-secondary btn-delete" data-reception-id="@item.Id">Cancel</button>

                                            }
                                        @if (User.Identity.IsAuthenticated && User.IsInRole("admin") || User.IsInRole("doctor"))
                                        {
                                            <a type="btn btn-success" asp-controller="Report" asp-action="Create" asp-route-id="@item.Id"
                                               class="btn btn-sm btn-outline-secondary">Write report</a>
                                        }
                                        </div>
                                    </td>
                            </tr>
                            }
                            else
                            {
                                <tr>
                                    <td></td>
                                    <td>@item.Patient.Name @item.Patient.Surname</td>
                                    <td>@item.DateTime</td>
                                    <td>@item.Doctor.Name @item.Doctor.Surname - @item.Doctor.Code</td>
                                    <td>
                                        <div class="btn-group">
                                            @if (User.Identity.IsAuthenticated && User.IsInRole("admin") || User.IsInRole("nurse"))
                                            {
                                                <a type="btn btn-success" asp-controller="Reception" asp-action="Edit" asp-route-id="@item.Id"
                                                   class="btn btn-sm btn-outline-secondary">Edit</a>
                                            <button type="button" class="btn btn-sm btn-outline-secondary btn-delete" data-reception-id="@item.Id">Cancel</button>
                                        }
                                        @if (User.Identity.IsAuthenticated && User.IsInRole("admin") || User.IsInRole("doctor"))
                                        {
                                            <a type="btn btn-success" asp-controller="Report" asp-action="Create" asp-route-id="@item.Id"
                                               class="btn btn-sm btn-outline-secondary">Write report</a>
                                        }
                                    </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

            </div>
        <div class="position-fixed bottom-0 end-0 mb-3 me-3">
            @if (User.Identity.IsAuthenticated && User.IsInRole("admin") || User.IsInRole("nurse"))
            {
                <a type="btn btn-success" asp-controller="Reception" asp-action="Create"
                class="btn btn-primary rounded-circle"><i class="bi bi-plus-circle"></i></a>
            }
        </div>
    </div>

</div>



@section Scripts {
    <script>
        var deleteReceptionId;

        $(document).ready(function () {
            $('.btn-delete').click(function () {
                deleteReceptionId = $(this).data('reception-id'); 
                $('#deleteConfirmationModal').modal('show');
            });

            $('#confirmDeleteButton').click(function () {
                $.ajax({
                    url: '/Reception/Delete',
                    type: 'POST',
                    data: { id: deleteReceptionId },
                    success: function (data) {
                        location.reload();
                    },
                });
            });
        });
    </script>
}