@using Clinic.ViewModels
@model CreateReportViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method = "post" asp-action="Create">
    <div class="form-row form-group">
        <div class="col">
            <input asp-for="Caption" class="form-control form-control-lg" placeholder="Caption" />
            <span asp-validation-for="Caption" class="text-danger"></span>
        </div>
    </div>
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <h2 class="mb-0">@Model.Patient.Name @Model.Patient.Surname</h2>
            <input type="hidden" asp-for="Patient.Name"/>
            <input type="hidden" asp-for="Patient.Surname" />
            <h5 class="mb-1 text-body-secondary">@Model.Patient.BirthDate</h5>
            <input type="hidden" asp-for="Patient.BirthDate" />
            <p class="card-text mb-auto">@Model.Patient.Gender</p>
            <input type="hidden" asp-for="Patient.Gender" />
            @if (Model.Patient.Address != null)
            {
                <strong class="d-inline-block mb-2 text-primary-emphasis"> 
                    @($"{Model.Patient.Address.Street}, {Model.Patient.Address.City}, {Model.Patient.Address.State}")
                    <input type="hidden" asp-for="Patient.Address.City" />
                    <input type="hidden" asp-for="Patient.Address.City" />
                    <input type="hidden" asp-for="Patient.Address.State" />
                </strong>
            }
        </div>
        <div class="col p-4 d-flex flex-column position-static">
            <h2 class="mb-0">
                @Model.Doctor.Name @Model.Doctor.Surname
                <input type="hidden" asp-for="Doctor.Surname" />
                <input type="hidden" asp-for="Doctor.Name" />

            </h2>
            <input type="hidden" asp-for="DateTime" />
            <h5 class="mb-1 text-body-secondary">@Model.DateTime</h5>
        </div>
    </div>
    <div class="form-row form-group">
        <div class="col">
            <textarea asp-for="Description" class="form-control form-control-lg" placeholder="Description"></textarea>
        </div>
    </div>
    <div class="form-row form-group">
        <div class="col">
            <button class="btn btn-block btn-success btn-lg" type="submit">Save</button>
            <a class="btn btn-outline-secondary" asp-controller="Reception" asp-action="Index">Cancel</a>
        </div>
    </div>
</form>