@model Report

@{
    ViewData["Title"] = "Medical report";
}

<style>
    .custom-form .btn-cancel {
        color: #0C7691;
        border-color: #0C7691;
        margin-left: 5%;
    }

        .custom-form .btn-cancel:hover {
            background-color: #776B5D;
            border-color: #776B5D;
            color: #FFFFFF;
        }
</style>
<h2 class="mb-4" style="color: #0C7691;">@Model.Caption</h2>
<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static border-right">
        <table class="table" style="margin-bottom: 20px;">
            <tbody>
                <tr>
                    <td><strong style="color: #0C7691;">Patient's Name:</strong></td>
                    <td>@Model.Patient.Name @Model.Patient.Surname</td>
                </tr>
                <tr>
                    <td><strong style="color: #776B5D;">Birth Date:</strong></td>
                    <td>@Model.Patient.BirthDate</td>
                </tr>
                <tr>
                    <td><strong style="color: #776B5D;">Gender:</strong></td>
                    <td>@Model.Patient.Gender</td>
                </tr>
                <tr>
                    <td><strong style="color: #776B5D;">Address:</strong></td>
                    <td>
                        @if (Model.Patient.Address != null)
                        {
                            @($"{Model.Patient.Address.Street}, {Model.Patient.Address.City}, {Model.Patient.Address.State}")
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col p-4 d-flex flex-column position-static">
        <table class="table">
            <tbody>
                <tr>
                    <td><strong style="color: #0C7691;">Doctor's Name:</strong></td>
                    <td>@Model.Doctor.Name @Model.Doctor.Surname</td>
                </tr>
                <tr>
                    <td><strong style="color: #776B5D;">Date:</strong></td>
                    <td>@Model.DateTime</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="form-row form-group">
    <div class="col" style="color: #776B5D;">
        <p>@Model.Description</p>
    </div>
</div>
<div class="form-row form-group">
    <div class="col">
        <a class="btn btn-outline-secondary btn-cancel" asp-controller="Patient" asp-action="Detail" asp-route-id="@Model.PatientId">Cancel</a>
    </div>
</div>
